body {
  text-align: center;
  font-family: Arial;
  background: #222;
  color: white;
}

#game-area {
  width: 400px;
  height: 500px;
  margin: 20px auto;
  background: gray;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
}

#player {
  position: absolute;
  width: 40px;
  height: 70px;
  background-color: red;
  bottom: 10px;
  left: 180px;
}

.obstacle {
  position: absolute;
  width: 40px;
  height: 70px;
  background-color: green;
  top: -100px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: cadetblue;
  border: none;
  cursor: pointer;
}

.back {
  display: inline-block;
  margin-top: 15px;
  color: cadetblue;
  text-decoration: none;
  font-size: 16px;
}
